---
import { commentConfig } from "@/config";

interface Props {
	path: string;
}

const twikooOptions = commentConfig.twikoo;
---

<div
	id="tcomment"
	class="twikoo-root"
	data-twikoo-env={twikooOptions?.envId}
	data-twikoo-lang={twikooOptions?.lang ?? "zh-CN"}
	data-twikoo-path={Astro.props.path}
></div>
