---
import type { GetStaticPaths } from "astro";
import Pagination from "../components/control/Pagination.astro";
import PostPage from "../components/PostPage.astro";
import { PAGE_SIZE } from "../constants/constants";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getSortedPosts } from "../utils/content-utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allBlogPosts = await getSortedPosts();
	return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;
// https://github.com/withastro/astro/issues/6507#issuecomment-1489916992

const { page } = Astro.props;

const len = page.data.length;

// 检查是否为首页（路径为 / 或 /1）
const isHomePage = Astro.url.pathname === "/" || Astro.url.pathname === "/1";
---

{isHomePage ? (
	<MainGridLayout hideMainContent={true}>
		<h1 class="sr-only">首页</h1>
	</MainGridLayout>
) : (
	<MainGridLayout>
		<h1 class="sr-only">首页 - 文章列表</h1>
		<PostPage page={page}></PostPage>
		<Pagination class="mx-auto onload-animation" page={page} style={`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`}></Pagination>
	</MainGridLayout>
)}